$color-yellow: #ffd700;
$color-gray: #ffffffa0;
$color-white: #ffffff;
$color-green-light: #1fcba3;
$color-green-bright: #06d165;
$color-gray-dark: #45434335;

.home-page {
  color: $color-white;
  margin-left: 0%;
  width: 100%;
  // margin-right: 5%;
  // padding-right: 5%;

  .text-zone {
    position: absolute;
    // left: 15%;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    margin-left: 7%;
    // max-height: 90%;
    // font-family: 'Coolvetica';
    font-size: 1em;
  }

  h1 {
    font-size: 5em;
    animation: fadeIn 1s 1.3s backwards;

    &::before {
      font-family: 'sans-serif';
      // position: absolute;
      // left: 15px;
    }

    &::after {
      font-family: 'sans-serif';
      animation: fadeIn 1s 1.4s backwards;
    }

    // For the 'S' logo with the name
    img {
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
  .first-h1 {
    font-size: 2.2em;
  }

  .second-h1,
  .third-h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .third-h1 {
    margin-top: -5px;
    margin-right: 3%;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 3em;
  }
  .single-logo {
    width: 32px;
    padding-left: 5px;
  }

  h2 {
    color: $color-gray;
    // opacity: 0.45;
    font-size: 2em;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 1px;
    animation: fadein 1s 2.8s backwards;
  }

  p {
    font-size: 1.5em;
    margin-top: 2%;
    // margin-bottom: 5%;
    // margin-right: -40%;
    padding-right: 5%;
    animation: fadeIn 1s 3s backwards;
  }

  .text-box {
    display: inline-block;
    padding: 15px 15px 15px 15px;
    background: $color-gray-dark;
    border: 1px solid $color-green-light;
    color: $color-white;
    // font-size: 0.8em;
    margin-right: 10%;
    border-radius: 17px;
    width: 60%;
  }

  .flat-button {
    color: $color-yellow;
    font-size: 1.7em;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0.7em 2em;
    border: 1px solid $color-yellow;
    animation: fadein 1s 2.8s backwards;
    white-space: nowrap;
    padding: 10px;

    &:hover {
      background: $color-yellow;
      color: #333;
    }
  }

  .less-font {
    font-weight: 300;
  }

  .fade-color {
    color: $color-gray;
    // margin-top: -50px;
  }

  .fade-in-1 {
    animation: fadeIn 0.1s 1s backwards;
  }
  .fade-in-2 {
    animation: fadeIn 0.5s 2s backwards;
  }
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
    font-size: 0.6em;
  }

  .home-page {
    width: 100%;
    .text-zone {
      position: initial;
      transform: none;
      padding: 2px;
      box-sizing: border-box;
      font-size: 0.8em;
      margin: 0 5%;

      h1 {
        font-size: 3em;
        margin: 5px auto 5px;
        padding: 0;
      }

      p {
        font-size: 1.5em;
        margin-top: 5px;
        margin-right: 7%;
        margin-bottom: 5%;
        animation: fadeIn 1s 3s backwards;
      }
      
      .text-box {
        // display: inline-block;
        // margin-right: -5%;
        background: $color-gray-dark;
        border: 1px solid $color-green-light;
        color: $color-white;
        // font-size: 0.8em;
        // margin-right: -40px;
        // margin-bottom: -10px;
        // border-radius: 5px;
        width: 80%;
      }

      .first-h1 {
        font-size: 2em;
      }

      .second-h1 {
        margin-bottom: 0;
        padding-bottom: 0;
        animation: fadeIn 0.5s 2s backwards;
      }

      .third-h1 {
        margin-top: -5px;
        margin-right: 3%;
        // margin-bottom: 15px;
        // padding-bottom: 5px;
        font-size: 3em;
      }
    }

    .flat-button {
      float: none;
      display: block;
      width: 124px;
    }
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    margin: auto;

    svg {
      position: absolute;
      left: 0;
      margin: auto;
    }
  }
}
