.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 150%;
    max-height: 90%;
    // font-family: 'Coolvetica';
    // font-weight: 100;
  }

  h1 {
    font-size: 5em;
    animation: fadeIn 1s 1.3s backwards;

    &::before {
      font-family: 'La Belle Aurore';
      // position: absolute;
      // left: 15px;
    }

    &::after {
      font-family: 'La Belle Aurore';
      animation: fadeIn 1s 1.4s backwards;
    }

    // For the 'S' logo with the name
    img {
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
  .single-logo {
    width: 32px;
    padding-left: 5px;
  }
  .coding-text {
    color: #1fcba3;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: -50px;
  }

  h2 {
    color: #ffffffa0;
    // opacity: 0.45;
    font-size: 2em;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 1px;
    animation: fadein 1s 2.8s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0.7em 2em;
    border: 1px solid #ffd700;
    animation: fadein 1s 2.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333
    }
  }

  .less-font {
    font-weight: 300;
  }

  .fade-color {
    color: #ffffff83;
    margin-top: -50px;
  }

  .fade-in-1 {
    animation: fadeIn 1s 2s backwards;
  }
  .fade-in-2 {
    animation: fadeIn 1s 3s backwards;
  }
}
