
html {
  font-size: 12px;
}

.html {
  font-size: 12px; /* Default font size */
}

body {
  margin: 0;
  font: 300 12px/1.4 'Menlo Regular', 'Helvetica Neue', 'sans-serif';
  color: #ffffff;
  background: #000818;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* @media all and (max-width: 50px)   {  .html  { font-size:0.1em;  } }
@media all and (max-width: 100px)  {  .html  { font-size:0.2em;  } }
@media all and (max-width: 200px)  {  .html  { font-size:0.4em;  } }
@media all and (max-width: 300px)  {  .html  { font-size:0.6em;  } }
@media all and (max-width: 400px)  {  .html  { font-size:0.8em;  } }
@media all and (max-width: 500px)  {  .html  { font-size:1.0em;  } }
@media all and (max-width: 600px)  {  .html  { font-size:1.2em;  } }
@media all and (max-width: 700px)  {  .html  { font-size:1.4em;  } }
@media all and (max-width: 800px)  {  .html  { font-size:1.6em;  } }
@media all and (max-width: 900px)  {  .html  { font-size:1.8em;  } }
@media all and (max-width: 1000px) {  .html  { font-size:2.0em;  } }
@media all and (max-width: 1100px) {  .html  { font-size:2.2em;  } }
@media all and (max-width: 1200px) {  .html  { font-size:2.4em;  } }
@media all and (max-width: 1300px) {  .html  { font-size:2.6em;  } }
@media all and (max-width: 1400px) {  .html  { font-size:2.8em;  } }
@media all and (max-width: 1500px) {  .html  { font-size:3.0em;  } }
@media all and (max-width: 1500px) {  .html  { font-size:3.2em;  } }
@media all and (max-width: 1600px) {  .html  { font-size:3.4em;  } }
@media all and (max-width: 1700px) {  .html  { font-size:3.6em;  } } */